@charset "UTF-8";
/*---------------------------------banner--------------------------*/
#banner {
  height: 360px;
  background: #CCCCCC;
  position: relative; }
  #banner .banner_right {
    width: 240px;
    height: 360px;
    background: #fff;
    position: absolute;
    right: 30px; }
    #banner .banner_right img {
      display: block;
      position: absolute;
      left: 20px; }
    #banner .banner_right img:nth-of-type(2) {
      top: 120px; }
    #banner .banner_right img:nth-of-type(3) {
      top: 240px; }
  #banner .lunbo {
    position: absolute;
    width: 770px;
    height: 360px;
    overflow: hidden;
    left: 251px; }
    #banner .lunbo li {
      position: absolute;
      width: 770px;
      height: 360px; }
  #banner .click_num {
    z-index: 1;
    position: absolute;
    height: 10px;
    bottom: 20px;
    left: 550px; }
    #banner .click_num li {
      cursor: pointer;
      float: left;
      width: 20px;
      height: 20px;
      color: #fff;
      text-align: center;
      line-height: 20px;
      background: #999;
      margin: 5px;
      border-radius: 50%; }

/*------------------------秒杀---------------------------------------*/
#seckill_action {
  margin-top: 30px;
  height: 460px;
  border: 1px solid #E0E0E0;
  position: relative; }
  #seckill_action .sec_kill {
    width: 328px;
    height: 460px;
    background: url(../img/everydayBg.png) no-repeat;
    position: absolute; }
    #seckill_action .sec_kill .sec_time {
      position: absolute;
      top: 200px;
      color: #fff;
      width: 300px;
      font-size: 40px;
      text-align: center; }
    #seckill_action .sec_kill .sec_time_title {
      position: absolute;
      text-align: center;
      top: 260px;
      color: #fff;
      width: 300px;
      font-size: 20px; }
    #seckill_action .sec_kill .sec_time_count {
      position: absolute;
      font-size: 25px;
      text-align: center;
      top: 300px;
      color: #fff;
      width: 300px; }
  #seckill_action .sec_action {
    height: 460px;
    width: 844px;
    position: absolute;
    right: 0; }
    #seckill_action .sec_action .action_goods {
      width: 844px;
      height: 368px;
      position: absolute;
      top: 90px; }
      #seckill_action .sec_action .action_goods li {
        width: 211px;
        height: 368px;
        display: inline-block; }
        #seckill_action .sec_action .action_goods li img {
          position: relative;
          display: block;
          margin-top: 20px; }
        #seckill_action .sec_action .action_goods li p {
          height: 60px;
          line-height: 60px;
          text-align: center; }
        #seckill_action .sec_action .action_goods li input {
          display: block;
          width: 100px;
          background: #CCCCCC;
          height: 30px;
          border-radius: 30px;
          cursor: pointer;
          margin-top: 20px;
          margin-left: 50px; }
        #seckill_action .sec_action .action_goods li span:nth-of-type(1) {
          margin-left: 60px;
          color: red;
          font-size: 20px; }
        #seckill_action .sec_action .action_goods li span:nth-of-type(2) {
          color: #999;
          text-decoration: line-through; }
    #seckill_action .sec_action .action_time {
      width: 844px;
      height: 90px;
      overflow: hidden;
      position: absolute; }
      #seckill_action .sec_action .action_time > div:nth-of-type(1) {
        position: absolute;
        width: 37px;
        height: 90px; }
        #seckill_action .sec_action .action_time > div:nth-of-type(1) em {
          margin-left: 15px;
          margin-top: 40px;
          display: block;
          width: 6px;
          height: 12px;
          background: url(../img/index-ico.png) no-repeat -76px -25px; }
      #seckill_action .sec_action .action_time > div:nth-of-type(2) {
        position: absolute;
        overflow: hidden;
        left: 37px;
        width: 770px;
        height: 90px; }
      #seckill_action .sec_action .action_time > div:nth-of-type(3) {
        position: absolute;
        left: 807px;
        width: 37px;
        height: 90px; }
        #seckill_action .sec_action .action_time > div:nth-of-type(3) em {
          margin-left: 15px;
          margin-top: 40px;
          display: block;
          width: 6px;
          height: 12px;
          background: url(../img/index-ico.png) no-repeat -70px -25px; }
      #seckill_action .sec_action .action_time .action_time1 {
        position: absolute;
        height: 90px; }
        #seckill_action .sec_action .action_time .action_time1 > div {
          height: 90px;
          width: 110px;
          float: left;
          text-align: center; }
          #seckill_action .sec_action .action_time .action_time1 > div p {
            width: 110px;
            line-height: 45px; }
          #seckill_action .sec_action .action_time .action_time1 > div span {
            margin-left: 15px; }

/*------------------------------狗食板块-------------------------*/
.dogfood_area {
  height: 593px;
  margin-top: 30px; }
  .dogfood_area .dfareali_style {
    border: 1px solid green;
    border-top: 2px solid green;
    border-bottom: 1px solid #fff; }
  .dogfood_area .dfarea_header {
    height: 50px;
    background: url(../img/index-ico.png) no-repeat -9px -215px;
    line-height: 50px;
    text-indent: 33px; }
    .dogfood_area .dfarea_header h3 {
      float: left;
      font-size: 20px; }
    .dogfood_area .dfarea_header > div {
      display: inline-block;
      height: 50px;
      width: 870px;
      float: right;
      border-bottom: 1px solid green; }
      .dogfood_area .dfarea_header > div ul {
        border: 1px solid #CCCCCC;
        border-bottom: none;
        height: 48px;
        float: right; }
        .dogfood_area .dfarea_header > div ul > li {
          height: 47px;
          float: left; }
          .dogfood_area .dfarea_header > div ul > li:hover a {
            color: green;
            border-right: none; }
        .dogfood_area .dfarea_header > div ul a {
          padding-right: 20px;
          height: 20px;
          border-right: 1px solid #CCCCCC; }
  .dogfood_area .dfarea_content {
    height: 477px;
    position: relative; }
    .dogfood_area .dfarea_content .dfarea_content_left {
      float: left;
      height: 477px;
      width: 330px;
      background: url(../img/foodtop.jpg) no-repeat; }
      .dogfood_area .dfarea_content .dfarea_content_left > div {
        position: absolute;
        bottom: 0;
        width: 290px;
        height: 136px;
        padding: 20px;
        background: rgba(255, 255, 255, 0.8); }
        .dogfood_area .dfarea_content .dfarea_content_left > div > div {
          width: 156px;
          position: absolute; }
          .dogfood_area .dfarea_content .dfarea_content_left > div > div em:nth-of-type(1) {
            position: absolute;
            top: 13px;
            display: inline-block;
            width: 70px;
            height: 2px;
            background: #999; }
          .dogfood_area .dfarea_content .dfarea_content_left > div > div em:nth-of-type(2) {
            position: absolute;
            top: 15px;
            left: 215px;
            display: inline-block;
            width: 70px;
            height: 2px;
            background: #999; }
          .dogfood_area .dfarea_content .dfarea_content_left > div > div i {
            position: absolute;
            top: 0px;
            left: 100px;
            display: inline-block;
            width: 27px;
            height: 27px;
            background: url(../img/index-ico.png) no-repeat -113px -170px; }
          .dogfood_area .dfarea_content .dfarea_content_left > div > div span {
            position: absolute;
            top: 0px;
            left: 135px;
            display: inline-block;
            width: 70px;
            height: 27px;
            line-height: 27px;
            color: #000;
            font-weight: 900; }
        .dogfood_area .dfarea_content .dfarea_content_left > div > ul {
          position: absolute;
          top: 60px; }
          .dogfood_area .dfarea_content .dfarea_content_left > div > ul li {
            float: left;
            margin-bottom: 10px;
            width: 103px;
            height: 24px; }
            .dogfood_area .dfarea_content .dfarea_content_left > div > ul li a {
              display: block;
              width: 85px;
              height: 24px;
              background: white;
              border-radius: 20px;
              text-align: center;
              line-height: 24px; }
              .dogfood_area .dfarea_content .dfarea_content_left > div > ul li a:hover {
                color: blue; }
    .dogfood_area .dfarea_content .dfarea_content_right {
      width: 870px;
      height: 476px;
      float: left; }
      .dogfood_area .dfarea_content .dfarea_content_right > a {
        display: block;
        float: left; }
      .dogfood_area .dfarea_content .dfarea_content_right > a div {
        border: 1px solid #E0E0E0; }
        .dogfood_area .dfarea_content .dfarea_content_right > a div span {
          margin-left: 25px;
          color: red;
          font-size: 14px; }
        .dogfood_area .dfarea_content .dfarea_content_right > a div p {
          line-height: 60px;
          text-indent: 25px;
          font-size: 18px; }
      .dogfood_area .dfarea_content .dfarea_content_right .div_style_1 {
        width: 388px;
        height: 299px;
        border-bottom: none;
        border-right: none; }
      .dogfood_area .dfarea_content .dfarea_content_right .div_style_2 {
        border-bottom: none;
        width: 478px;
        height: 149px; }
      .dogfood_area .dfarea_content .dfarea_content_right .div_style_3 {
        border-top: none;
        border-left: none;
        width: 289px;
        height: 175px; }
      .dogfood_area .dfarea_content .dfarea_content_right .div_style_4 {
        float: left;
        width: 207.5px;
        height: 228px;
        padding: 5px;
        position: relative; }
        .dogfood_area .dfarea_content .dfarea_content_right .div_style_4 a:hover {
          color: deepskyblue; }
        .dogfood_area .dfarea_content .dfarea_content_right .div_style_4 img {
          position: absolute;
          top: 10px;
          left: 40px;
          display: inline-block;
          width: 138px;
          padding-top: 10px; }
        .dogfood_area .dfarea_content .dfarea_content_right .div_style_4 p {
          position: absolute;
          top: 170px;
          left: 20px; }
        .dogfood_area .dfarea_content .dfarea_content_right .div_style_4 span {
          font-size: 16px;
          position: absolute;
          bottom: 8px;
          left: 8px;
          color: #dd2727; }
  .dogfood_area .dfarea_bottom {
    height: 66px; }
    .dogfood_area .dfarea_bottom li {
      float: left;
      border-left: 1px solid #e7e7e7; }
      .dogfood_area .dfarea_bottom li a {
        display: block;
        height: 66px;
        width: 149px;
        text-align: center; }
        .dogfood_area .dfarea_bottom li a img {
          display: inline-block;
          margin-top: 8px; }

/*-----------------------------suspend 悬浮窗口------------------------------------*/
#suspend {
  position: fixed;
  right: 0;
  top: 0;
  background: #444;
  width: 35px;
  height: 100%;
  z-index: 10000; }
  #suspend a {
    display: block; }
  #suspend .suspend_content {
    width: 35px;
    height: 100%;
    position: relative; }
    #suspend .suspend_content ul {
      top: 35px;
      position: relative;
      width: 35px;
      height: 472px;
      padding-top: 10px; }
      #suspend .suspend_content ul .suspend_personal {
        width: 35px;
        height: 35px;
        position: relative; }
        #suspend .suspend_content ul .suspend_personal > a {
          color: #444;
          width: 35px;
          height: 35px;
          margin-top: 40px;
          background: url(../img/bar_new.png) no-repeat 0 -235px; }
          #suspend .suspend_content ul .suspend_personal > a:hover {
            color: #666;
            background: url(../img/bar_newhover.png) no-repeat 0 -235px; }
        #suspend .suspend_content ul .suspend_personal .suspend_personal_hide {
          background: #fff;
          width: 292px;
          position: absolute;
          right: 35px;
          top: 0;
          padding: 0 10px 10px 21px;
          border: 1px solid #ccc;
          display: none; }
          #suspend .suspend_content ul .suspend_personal .suspend_personal_hide > div {
            text-align: center;
            color: #000;
            padding: 50px 0; }
            #suspend .suspend_content ul .suspend_personal .suspend_personal_hide > div a {
              display: inline-block;
              color: red;
              text-decoration: underline; }
      #suspend .suspend_content ul .suspend_cart {
        width: 35px;
        height: 118px;
        position: relative;
        margin-top: 40px;
        margin-bottom: 15px; }
        #suspend .suspend_content ul .suspend_cart a {
          display: block;
          width: auto;
          height: auto;
          background-image: none;
          padding: 5px 0 10px;
          color: #444; }
          #suspend .suspend_content ul .suspend_cart a:hover {
            color: #666; }
            #suspend .suspend_content ul .suspend_cart a:hover div {
              color: #fff; }
              #suspend .suspend_content ul .suspend_cart a:hover div span {
                background: #fff;
                color: #000; }
            #suspend .suspend_content ul .suspend_cart a:hover span {
              background: url(../img/bar_newhover.png) no-repeat 0 -270px; }
          #suspend .suspend_content ul .suspend_cart a > span {
            display: block;
            width: 35px;
            height: 35px;
            background: url(../img/bar_new.png) no-repeat 0 -270px; }
          #suspend .suspend_content ul .suspend_cart a .suspend_cart_num {
            width: 19px;
            height: 68px;
            text-align: center;
            color: #a6a6a6;
            margin: 0 auto; }
            #suspend .suspend_content ul .suspend_cart a .suspend_cart_num span {
              display: inline-block;
              width: 20px;
              height: 20px;
              line-height: 20px;
              background: #A6A6A6;
              color: #fff;
              text-align: center;
              border-radius: 50%; }
      #suspend .suspend_content ul .online_server {
        width: 35px;
        height: 114px;
        position: relative; }
        #suspend .suspend_content ul .online_server .online_server_hide {
          width: 325px;
          height: 128px;
          position: fixed;
          top: 250px;
          right: 35px;
          display: none;
          border: 1px solid #ccc;
          background: #fff; }
          #suspend .suspend_content ul .online_server .online_server_hide div {
            text-align: center;
            color: #000;
            line-height: 128px; }
            #suspend .suspend_content ul .online_server .online_server_hide div a {
              display: inline-block;
              color: red;
              text-decoration: underline; }
        #suspend .suspend_content ul .online_server > a {
          display: block;
          width: 35px;
          height: 114px; }
          #suspend .suspend_content ul .online_server > a:hover {
            color: #666; }
            #suspend .suspend_content ul .online_server > a:hover div {
              color: #fff; }
            #suspend .suspend_content ul .online_server > a:hover span {
              background: url(../img/bar_newhover.png) no-repeat 2px -617px; }
          #suspend .suspend_content ul .online_server > a span {
            display: block;
            width: 35px;
            height: 35px;
            background: url(../img/bar_new.png) no-repeat 2px -617px; }
          #suspend .suspend_content ul .online_server > a div {
            width: 19px;
            text-align: center;
            margin: 0 auto;
            color: #A6A6A6; }
      #suspend .suspend_content ul .suspend_text {
        width: 35px;
        height: 35px;
        position: relative; }
        #suspend .suspend_content ul .suspend_text .suspend_text_hide {
          width: 325px;
          height: 128px;
          position: absolute;
          top: 0;
          right: 35px;
          display: none;
          border: 1px solid #ccc;
          background: #fff; }
          #suspend .suspend_content ul .suspend_text .suspend_text_hide div {
            text-align: center;
            color: #000;
            line-height: 128px; }
            #suspend .suspend_content ul .suspend_text .suspend_text_hide div a {
              display: inline-block;
              color: red;
              text-decoration: underline; }
        #suspend .suspend_content ul .suspend_text > a {
          background: url(../img/bar_new.png) no-repeat 0px -305px;
          width: 35px;
          height: 35px;
          margin: 0 0 15px; }
          #suspend .suspend_content ul .suspend_text > a:hover {
            background: url(../img/bar_newhover.png) no-repeat 0px -305px; }
      #suspend .suspend_content ul .suspend_star {
        width: 35px;
        height: 35px;
        position: relative; }
        #suspend .suspend_content ul .suspend_star a {
          margin-top: 15px;
          display: block;
          width: 35px;
          height: 35px;
          background: url(../img/bar_new.png) no-repeat -1px -693px; }
          #suspend .suspend_content ul .suspend_star a:hover {
            background: url(../img/bar_newhover.png) no-repeat -1px -693px; }
      #suspend .suspend_content ul .suspend_wechat {
        width: 35px;
        height: 35px;
        position: relative; }
        #suspend .suspend_content ul .suspend_wechat > a {
          display: block;
          width: 35px;
          height: 35px;
          background: url(../img/bar_new.png) no-repeat 0 -720px; }
          #suspend .suspend_content ul .suspend_wechat > a:hover {
            background: url(../img/bar_newhover.png) no-repeat 0 -720px; }
      #suspend .suspend_content ul .suspend_sina {
        width: 35px;
        height: 35px;
        position: relative; }
        #suspend .suspend_content ul .suspend_sina > a {
          margin-bottom: 15px;
          display: block;
          width: 35px;
          height: 35px;
          background: url(../img/bar_new.png) no-repeat 0 -753px; }
          #suspend .suspend_content ul .suspend_sina > a:hover {
            background: url(../img/bar_newhover.png) no-repeat 0 -753px; }
      #suspend .suspend_content ul .return_top {
        width: 35px;
        height: 35px;
        position: relative; }
        #suspend .suspend_content ul .return_top > div {
          opacity: 0;
          right: 80px;
          z-index: 9999;
          display: block;
          position: absolute;
          height: 35px;
          width: 90px;
          line-height: 35px;
          top: 0;
          text-align: center;
          color: #fff;
          background: #ffa200;
          padding-right: 10px; }
        #suspend .suspend_content ul .return_top > a {
          margin-top: 15px;
          display: block;
          width: 35px;
          height: 35px;
          background: url(../img/bar_new.png) no-repeat 0 -521px; }
          #suspend .suspend_content ul .return_top > a:hover {
            background: url(../img/bar_newhover.png) no-repeat 0 -521px; }

#cartbox {
  position: fixed;
  display: none;
  left: inherit;
  right: 35px;
  min-height: 100px;
  top: 155px;
  line-height: 100px;
  text-align: center;
  background: #fff; }
  #cartbox > div {
    width: 100%;
    height: 60px; }
    #cartbox > div img {
      width: 60px;
      float: left; }
    #cartbox > div p {
      width: 200px;
      float: left;
      line-height: 60px;
      font-size: 14px;
      text-align: center;
      margin-left: 30px; }
    #cartbox > div span {
      height: 60px;
      display: block;
      float: left;
      width: 100px;
      text-align: center;
      line-height: 60px; }
  #cartbox a {
    border: 1px solid #000;
    height: 40px;
    line-height: 40px;
    width: 100px;
    display: block;
    font-size: 16px;
    border-radius: 5px;
    margin-left: 230px; }
    #cartbox a:hover {
      background: skyblue;
      color: #fff; }

.cartview {
  width: 510px;
  z-index: 9999;
  cursor: default;
  border: 1px solid #ccc; }

/*# sourceMappingURL=main.css.map */
